.fdes {
    background-color: black;
    padding: 40px;
}
/*
#box {
    background:url("https://previews.123rf.com/images/phyzick/phyzick1704/phyzick170400064/76499043-bright-fresh-spring-halftone-gradient-flyers-templates-for-web-header-or-footer-background-fantasy-s.jpg");
    background-color: black;
    background-size: cover;
    height: 200px;
    color: yellow;
    width: 100%;
}

#box li{
    margin-top: 10px;
    width:100 px;
    margin-left: 100px; 
    color: yellow;
}

#box .left_aligned {
    margin-top: 10px;
    width:100 px;
    margin-left: 100px;
}


#box .right_aligned {
    margin-left: 200 px;
    margin-top: 10px;
    width: 10 px;
    position: relative;
    color: red;
}
*/

.About_Us_Image{
    background-image: url("Images\Work_Space.jpg");
    background-size: cover;
    background-position: center;
    background-color:black;
}

.About_Us{
    text-align: center;
    color:white;
}

.About_Us .col-lg-6 h1{
    align: center;
    text-align:center;
    color: white;
    font-weight:bold;
}

.About_Us .col-lg-6 p{
    width: 100%;
    padding-bottom:10px;
    padding-left: 10%;
    text-align:left;
    align: right;

}

.container2 {
text-align:center;
}

.container2 .Row_Ref2   {
    color: black;
    align: center;
}

.card {
    text-align: center;
}

 .card-title{
    color:black;
    align:center;
    text-align:center;
}

.card-text{
    color:black;
    align:center;
    text-align:center;
}


.about {
    font-size: 15px;
}

 .about a {
    font-size:20px;
}
 .Container_Ref .Row_Ref1 {
    color: white;
    opacity: .8;
    margin-bottom: 15px;
}

  .Container_Ref .Row_Ref1 .col-lg-3{
    border-left: 2px dotted white;
    margin-bottom: 20px
}
.FHead  {
    margin-top:25px; 
    margin-bottom: 25px;
    color: white;
    opacity: .85;
    text-align: center;

}

 .Container_Ref .Row_Ref1 li{
    list-style-type: none;
    opacity: 0.5;
}
