body {
    /* font: 20px Montserrat, sans-serif; */
    line-height: 1.8;
    color: #f5f6f7;
    margin: 0px;
}
p {font-size: 16px;
    font-family: 'PT Serif', serif;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}
.bg-4 { 
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card:hover::after {
    opacity: 1;
}
.wrap{
  height: 120%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 10%;
  padding-right: 40px;
  padding-left: 40px;
  width: auto;
  background-color: #222222;
}
 /* the slides */
.slick-slide {
  margin-left:20px;
}

/* the parent */
.slick-list {
  margin-right:20px;
  padding-bottom: 15px;
}
.card{
  position: relative;
  height: 450px;
  margin-top: 15px;
      
}
@media only screen and (max-width: 600px){
    .card{
        overflow: scroll;
    }
}
.projects{
    height: 480px;
    width: 100%;
}
/* .slick-prev{
    left: 0.1%;
}
.slick-next{
    right: 0.1%;
} */
.project_heading{
    text-align: center;
    padding-bottom: 5.5%;
}