.fdes {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*
#box {
    background:url("https://previews.123rf.com/images/phyzick/phyzick1704/phyzick170400064/76499043-bright-fresh-spring-halftone-gradient-flyers-templates-for-web-header-or-footer-background-fantasy-s.jpg");
    background-color: black;
    background-size: cover;
    height: 200px;
    color: yellow;
    width: 100%;
}

#box li{
    margin-top: 10px;
    width:100 px;
    margin-left: 100px; 
    color: yellow;
}

#box .left_aligned {
    margin-top: 10px;
    width:100 px;
    margin-left: 100px;
}


#box .right_aligned {
    margin-left: 200 px;
    margin-top: 10px;
    width: 10 px;
    position: relative;
    color: red;
}
*/
.container2 {
    margin-left: 100px;

}

.container2 .row   {
    color: black;
}

.container2 .row .Images .col-lg-6{
    height: 300px;
    width: 300px;
    margin: 50px auto 100px 20px;
    padding: 50px;
    border: 2px outset ;
    border-radius: 10%;
    overflow: hidden;
}

.container h1 {
    margin-left: 400px;
    margin-bottom: 50px;
    color: white;
    opacity: .85;
}
.container .row .about {
    font-size: 15px;
}

.container .row .about a {
    font-size:20px;
}
.container .row {
    color: white;
    opacity: .8;
    margin-bottom: 15px;
    margin-left: 100px;
}
.container .row .col-lg-2{
    border-left: 2px dotted white;
    margin: 10px;
}
.container .row .col-lg-3{
    border-left: 2px dotted white;
    margin: 10px;
}




.container .row li{
    list-style-type: none;
    opacity: 0.5;
}